<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css"/>
        <title>Amazona</title>
    </head>
    <body>
        <div class="grid-container">
            <header class = "row">
                <div>
                    <a class = "brand" href="index.html">amazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>

            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>
</html>
